{% extends 'base.html' %}

{% load my_template_tags %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">主页</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
    </ol>
  </nav>
  <div class="card">
    {% include 'products/_header.html' with active='category_photos' %}
    <div class="card-body">
      {% comment %} <div class="my-4">
        <button type="button" class="btn btn-outline-dark btn-sm">新增型号</button>
      </div> {% endcomment %}
      <div class="row">
        {% for product in products %}
          <div class="col-sm-4 col-md-3 my-2">
            <a href="#">
              <img border="0" alt="{{ product.model_number }}" src="{% get_cover_photo_url product product.model_number %}" width="180" height="180">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
