{% extends 'base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
<link href="{% static 'products/css/image-checkbox.css' %}" rel="stylesheet">

{% endblock %}

{% block js %}
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'products/js/photos.js' %}"></script>
<script src="{% static 'products/js/image-checkbox.js' %}"></script>
{% endblock %}

{% block content %} 
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">主页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'products:category_photos' category.id %}">{{ category.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ product.model_number }}</li>
    </ol>
  </nav>

  <div class="card" id="photo-container">
    <div class="card-body">
      <button type="button" class="js-edit-photo btn btn-outline-dark btn float-right" data-url="{% url 'products:photo_delete' category.id product.id %}">
          编辑
      </button>
      <div class="delete-button-group float-right" style="display: None;">
        <button type="button" class="js-delete-photo-cancel btn btn-outline-dark btn-sm" data-url="{% url 'products:photo_delete' category.id product.id %}">
          取消
        </button>
        <button type="button" class="js-delete-photo btn btn-danger btn-sm" data-url="{% url 'products:photo_delete' category.id product.id %}" disabled>
          删除
        </button>
      </div>

      <h3>{{ product.model_number }}</h3>
      <hr>
      <div class="row my-4">
        <div class="col">
          <button type="button" class="btn btn-sm btn-outline-primary js-upload-photos">
            <i class="fas fa-cloud-upload-alt" style="font-size: 20px;"></i> 
            点击上载
          </button>
          <!-- FORM TO UPLOAD THE IMAGES -->
          <form method="post" enctype="multipart/form-data" id="formUpload" style="display: None;">
            {% csrf_token %}
            {{ form }}
          </form>
        </div>
      </div>
      <div class="row" id="photo-list">
        {% include 'products/includes/partial_photo_list.html' %}
      </div>
    </div>
  </div>

  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">裁剪产品图片</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 0px;">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group mr-auto" role="group">
            <button type="button" class="btn btn-outline-dark btn-sm js-zoom-out">
              <i class="fas fa-search-minus"></i> 缩小 
            </button>
            <button type="button" class="btn btn-outline-dark btn-sm js-zoom-in">
              <i class="fas fa-search-plus"></i> 放大
            </button>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">上载 </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-photo">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

{% endblock %}
