{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
  <div class="col">
    <h4 class="decorated"><span>产品</span></h4>
    <button type="button" class="btn btn-outline-dark btn-sm float-left">添加</button>
  </div>
</div>
<div class="row my-3">
  {% for category in categories %}
    <div class="col-sm-4 my-2">
      <div class="card" style="height: 180px">
        <div class="card-body" style="padding: 10px;">
          <div class="row">
              <div class="col">
                <p class="float-left mt-2">{{ category.title }}</p>
                <div class="dropdown float-right">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Delete</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <div class="col text-center">
              <h1>{{ category.number_of_products }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>     
  {% endfor %} 
</div>

{% endblock %}
