{% load my_template_tags %}

{% for product in products %}
  <tr>
    <td><img border="0" alt="{{ product.model_number }}" src="{% get_cover_photo_url product product.model_number %}" width="40" height="40"></td>
    <td>{{ product.model_number }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.color }}</td>
    <td>{{ product.price }}</td>
    <td>
      <button type="button" class="js-delete-product btn btn-outline-danger btn-sm" data-url="#">删除</button>
      <button type="button" class="js-update-product btn btn-outline-dark btn-sm" data-url="{% url 'products:product_update' category.id product.id %}">编辑</button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="6" class="text-center bg-warning">没有产品</td>
  </tr>
{% endfor %}